<%= form_with(model: product_attention, local: true) do |form| %>
  <% if product_attention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_attention.errors.count, "error") %> prohibited this product_attention from being saved:</h2>

      <ul>
        <% product_attention.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :actual_danger_id %>
    <%= form.number_field :actual_danger_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
