<p class="image">
  <%= image_tag 'image_1.png' %>
</p>

<div class="logo">
  <%= image_tag 'Logo.png' %>
</div>

<div class="content">
  <h1>Выбирай здоровое питание</h1>
  <a class="buttons" href="#">Посмотреть состав</a>
</div>

<div class="info">
  <h2>Открой здоровое питание  с  </h2>
  <div class="info-logo">
      <%= image_tag 'Logo-2.png' %>
  </div>

  <div class="info-img">
      <%= image_tag 'info-picture.png' %>
  </div>

  <div class="text">
    <p>
      Foodsy — это веб-сервис,  позволяющий быстро узнать состав продуктов и описание каждого ингредиента путем выполнения поиска по ключевому слову.
    </p>
    <p>
      Более того, сервис учитывает личные предпочтения в питании, указывает преимущества и недостатки каждого ингредиента и продукта.
    </p>
    <p>
      Наш сервис поможет вам узнать, что вы кушаете обычно и подберет для вас продукты правильного питания.
    </p>
  </div>

  <div class="img-2">
      <%= image_tag 'img-2.png' %>
  </div>

  <div class="about">
    <div class="about_image">
      <%= image_tag 'plate.png' %>
    </div>
    <div class="first">
      <h1> Индивидуальные предпочтения</h1>
      <p>
        Регистрация дает возможность указать
  ваши личные предпочтения: вегетарианство,  аллергия и др. Если продукт будет иметь неподходящий вам ингредиент - вы увидите это в информации о продукте, без необходимости самостоятельной проверки.
      </p>
    </div>
    <div class="second">
      <h1> Предупреждения о добавках</h1>
      <p>
      Вы будете сразу проинформированны, если в продукте завышена норма сахара, соли, добавок и других вредных ингредиентов.
      </p>
    </div>
    <div class="third">
      <h1>Описание каждого ингредиента</h1>
      <p>
      Помимо обычного описания продукта, вы получите развертнутую информацию о каждом ингредиенте. Таким образом, вы узнаете какие добавки опасны для вашего организма, а какие нет.
      </p>
    </div>
    <div class="fourth">
      <h1>Понятно и удобно</h1>
      <p>
      Мы постарались сделать наш сервис удобным и практичным в использовании. А самое главное правдивым и полезным. Вы не только узнаете, что кушаете, но и сможете повисыть уровень вашего питания.
      </p>
    </div>
  </div>

  <div class="login">
    <div class="login_img">
      <%= image_tag 'img-3.png' %>
    </div>
    <h1>Здоровье начинается с питания</h1>
    <p>Присоединяйся к нам и начни питаться здоровой пищей. <br> Ты- это то, что ты ешь.  Мы поможем позаботиться о своем организме
    </p>
    <a class="buttons" href="#">Зарегистрироваться</a>
    </div>


  <div class="products">
      <h1>Попробуй проверить состав продуктов!</h1>
      <div class="product_1">
        <%= image_tag 'card.png' %>
           <div class="img">
             <%= image_tag 'product_1.png' %>
           </div>
      </div>
      <div class="product_2">
        <%= image_tag 'card.png' %>
      </div>
      <div class="product_3">
        <%= image_tag 'card.png' %>
      </div>

  </div>

s
  </div>



</div>
