<p id="notice"><%= notice %></p>

<p>
  <strong>Ingredient:</strong>
  <%= @parameter.ingredient_id %>
</p>

<p>
  <strong>Actual danger:</strong>
  <%= @parameter.actual_danger_id %>
</p>

<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>
